.new-todo {
  @include axis-margin(vertical, $vertical-margin);
  z-index: 1;
  input {
    width: 100%;
    padding: $lrg-padding;
    font-size: $font-size-lrg;
    border: $border-size-sml solid $medium-gray;
  }
}