@mixin axis-margin($axis, $margin) {
  @if $axis == vertical {
    margin-bottom: $margin;
    margin-top: $margin;
  }
  @else if $axis == horizontal {
    margin-left: $margin;
    margin-right: $margin;
  }
}

@mixin axis-padding($axis, $padding) {
  @if $axis == vertical {
    padding-bottom: $padding;
    padding-top: $padding;
  }
  @else if $axis == horizontal {
    padding-left: $padding;
    padding-right: $padding;
  }
}

@mixin even-interior-shadow($color, $size) {
  @include box-shadow(inset 0 0px $size $color);
}

@mixin list-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin glass($shadow-size) {
  @include even-interior-shadow(white, $shadow-size);
  background: $transparent-white;
}